.clang-format
.cproject
.csettings/
.nedfolders
.oppbuildspec
.oppfeaturestate
.project
.settings/
CHANGELOG
COPYING
Makefile
README.MiXiM.txt
README.md
configure
doc/
doxy.cfg
examples/autolanechange/
examples/engine/
examples/human/
examples/joinManeuver/
examples/platooning/
examples/rio/
examples/signs/
examples/veins/
format-code.sh
images/
out/
run
src/veins/base/
src/veins/modules/analogueModel
src/veins/modules/application/ieee80211p
src/veins/modules/application/traci
src/veins/modules/mac
src/veins/modules/messages
#src/veins/modules/mobility
src/veins/modules/nic
src/veins/modules/obstacle
src/veins/modules/phy
src/veins/modules/utility
src/veins/modules/world
src/veins/modules/package.ned
src/veins/nodes/
subprojects/
sumo-launchd.py
tests/
HEAD
config
description
src/index.h
src/libveins.so
src/makefrag
src/scripts/
src/veins/modules/application/platooning/CC_Const.h
src/veins/modules/application/platooning/PlatoonCar.ned
src/veins/modules/application/platooning/UnicastProtocol.cc
src/veins/modules/application/platooning/UnicastProtocol.h
src/veins/modules/application/platooning/UnicastProtocol.ned
src/veins/modules/application/platooning/messages/
src/veins/modules/application/platooning/protocols/
src/veins/modules/application/platooning/scenarios/
src/veins/modules/application/platooning/traffic/
src/veins/modules/application/platooning/utilities/
src/veins/modules/mobility/LinearMobility.cc
src/veins/modules/mobility/LinearMobility.h
src/veins/modules/mobility/LinearMobility.ned
src/veins/modules/mobility/traci/ParBuffer.h
src/veins/modules/mobility/traci/SumoTrafficManager.cc
src/veins/modules/mobility/traci/SumoTrafficManager.h
src/veins/modules/mobility/traci/SumoTrafficManager.ned
src/veins/modules/mobility/traci/TestTrafficManager.cc
src/veins/modules/mobility/traci/TestTrafficManager.h
src/veins/modules/mobility/traci/TestTrafficManager.ned
src/veins/modules/mobility/traci/TraCIBaseTrafficManager.cc
src/veins/modules/mobility/traci/TraCIBaseTrafficManager.h
src/veins/modules/mobility/traci/TraCIBaseTrafficManager.ned
src/veins/modules/mobility/traci/TraCIBuffer.cc
src/veins/modules/mobility/traci/TraCIBuffer.h
src/veins/modules/mobility/traci/TraCIColor.cc
src/veins/modules/mobility/traci/TraCIColor.h
src/veins/modules/mobility/traci/TraCIConnection.cc
src/veins/modules/mobility/traci/TraCIConnection.h
src/veins/modules/mobility/traci/TraCIConstants.h
src/veins/modules/mobility/traci/TraCICoord.h
src/veins/modules/mobility/traci/TraCICoordinateTransformation.cc
src/veins/modules/mobility/traci/TraCICoordinateTransformation.h
src/veins/modules/mobility/traci/TraCILauncher.cc
src/veins/modules/mobility/traci/TraCILauncher.h
src/veins/modules/mobility/traci/TraCIMobility.cc
src/veins/modules/mobility/traci/TraCIMobility.h
src/veins/modules/mobility/traci/TraCIMobility.ned
src/veins/modules/mobility/traci/TraCIScenarioManager.cc
src/veins/modules/mobility/traci/TraCIScenarioManager.h
src/veins/modules/mobility/traci/TraCIScenarioManager.ned
src/veins/modules/mobility/traci/TraCIScenarioManagerForker.cc
src/veins/modules/mobility/traci/TraCIScenarioManagerForker.h
src/veins/modules/mobility/traci/TraCIScenarioManagerForker.ned
src/veins/modules/mobility/traci/TraCIScenarioManagerLaunchd.cc
src/veins/modules/mobility/traci/TraCIScenarioManagerLaunchd.h
src/veins/modules/mobility/traci/TraCIScenarioManagerLaunchd.ned
src/veins/modules/mobility/traci/TraCIScreenRecorder.cc
src/veins/modules/mobility/traci/TraCIScreenRecorder.h
src/veins/modules/mobility/traci/TraCIScreenRecorder.ned
src/veins/package.ned
